<form method="post" action="/messages/new">
  <label>
    Name:
    <input type="text" placeholder="Author's name" name="user" />
  </label>
  <label>
    Message:
    <input type="text" placeholder="Message" name="message" />
  </label>
  <button type="submit">Post Message</button>
</form>