<form method="post" action="/new">
  <label>
    Name:
    <input type="text" placeholder="Author's name" name="name" />
  </label>
  <label>
    Message:
    <input type="text" placeholder="Message" name="message" />
  </label>
</form>